/*
 *  Scrollbar
 */

.screenshot::-webkit-scrollbar-track ,.filterDiv::-webkit-scrollbar-track, .comments::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 4.5px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.screenshot::-webkit-scrollbar, .filterDiv::-webkit-scrollbar, .comments::-webkit-scrollbar {
	width: 9px;
	background-color: #F5F5F5;
}

.screenshot::-webkit-scrollbar-thumb, .filterDiv::-webkit-scrollbar-thumb, .comments::-webkit-scrollbar-thumb {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 4.5px rgba(0,0,0,.3);
	background-color: #555;
}


html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	width: 100%;
	height: 100%
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	margin: 4px;
	padding: 0;
}

input {
	outline: none;
	margin: 4px;
	padding: 4px;
	border: 1px solid #333;
	border-radius: 4px;
}

input[type=button]:active {
	border: 1px solid #eee;
}

input[type=button] {
	background-color: #eee;
	cursor: pointer;
	min-height: 25px;
}

.body {
	margin: 0;
	padding: 0;	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.error {
	color: red;
	font-size: 0.8em;
	padding: 0;
	margin: 2px;
}

/*
**
** Header-Bar CSS :
**
*/

.header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.header > a {
	color: #eee;
}

.header > a:nth-child(3) {
	flex-grow: 1;
}

.header > a {
	margin: 4px;
	padding: 4px;
}

/*
**
** Form CSS :
**
*/

.form {
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

/*
**
** Search bar :
**
*/

.searchBar {
	background-color: #ddd;
	margin: 0px;
	padding: 4px;
	font-size: 0.8em;
	width: 80%;
	min-width: 100px;
}

/*
**
** Admin user display CSS :
**
*/

.admin-user {
	display: flex;
	flex-direction: row;
	margin: 2px;
	padding: 0;
	width: 70%;
	border: 2px solid #333;
}

.admin-user > div {
	text-align: center;
	font-size: 1em;
}

.admin-user > div:nth-child(1) {
	width: 12%;
	border-right: 2px solid #333;
}

.admin-user > div:nth-child(2) {
	width: 20%;
	border-right: 2px solid #333;
}

.admin-user > div:nth-child(3) {
	width: 25%;
	border-right: 2px solid #333;
}

.admin-user > div:nth-child(4) {
	width: 14%;
	border-right: 2px solid #333;
}

.admin-user > div:nth-child(5) {
	width: 11%;
	border-right: 2px solid #333;
}

.admin-user > div:nth-child(6) {
	width: 15%;
	border-right: 2px solid #333;
}

.admin-user > div:nth-child(7) {
	width: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.admin-user > div:nth-child(7) > a {
	margin: 0px;
	padding: 0px;
}

#svg-update, #svg-remove {
	margin: 2px;
	width: 60%;
	height: 40%;
}

/*
**
** Webcam view :
**
*/

#video {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	max-height: 100%;
	position: absolute;
}

.filterOn {
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	max-height: 100%;
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}

.mountingDiv {
	height: 100%;
	width: 45%;
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.camDiv {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	min-height: 40%;
	height: 40%;
	width: 70%;
	border: 1px solid #eee;
}

.filterDiv {
	overflow-y: scroll;
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.filterChoose {
	margin: 0;
	padding: 0;
	width: 50%;
	height: auto;
}

.screenshot {
	overflow-y: scroll;
	min-width: 70%;
	max-width: 70%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	margin: 5px;
	border: 2px solid black;
	padding: 2px;
}

.screenCanvas {
	margin: 5px;
	width: 100%;
	height: auto;
}

.containerImg {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
}

/*
**
** Modal Image view
**
*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.imgView {
    background-color: white;
    margin: 50vh auto;
    transform: translateY(-50%);
    border: 1px solid #888;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
	border: 1px solid #333;
}

.pictureAuthor {
	margin: 0;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0;
	width: 100%;
}

.picture {
	margin-top: 10px;
	width: 100%;
	height: auto;
}

/*
**
** Like Image view
**
*/

.likeDiv {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	margin-top: 10px;
}

.likeText {
	margin: 0 0 0 8px;
	padding: 0;
}

.likeLogo {
	margin-left: 5px;
	height: 100%;
	width: auto;
}

/*
**
** Comment Image view
**
*/

.commentDiv {
	width: 100%;
	margin-top: 5px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}

.addComment {
	width: 100%;
	margin-top: 10px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}

.commentText {
	width: 80%;
	height: 4em;
	outline: none;
	resize: none;
	border: 1px solid #333;
	border-radius: 5px;
}

/*
**
** Comments users
**
*/

.comments {
	width: 100%;
	max-height: 30vh;
	padding: 0;
	margin-top: 3px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	overflow-y: scroll;
}

.commentContainer {
	margin: 2px 0 2px 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.author {
	margin: 0;
	padding: 0;
	width: 80%;
	font-size: 1.2em;
}

.content {
	margin: 2px;
	padding: 3px;
	width: 80%;
	text-align: left;
	border: 1px solid #aaa;
	border-radius: 5px;
}

.date {
	margin: 0;
	padding: 0;
	width: 80%;
	text-align: right;
	font-size: 0.8em;
}


.ImgAcceuil {
	border: 1px solid #eee;
	border-radius: 5px;
	width: 45vh;
}

.imgAcceuil {
	width: 100%;
	max-height: 40vh;
}










