.resize {
    width: 100%;
    height: 100%;
}

.divForm > input, .divForm > textarea, .divForm > select {
    font-size: 1em;
    margin: 6px;
    outline: none;
    width: 20%;
    border-radius: 6px;
    height: 1.8em;
    border: none;
    text-align: center;
    color: var(--textInput);
    background-color: var(--whiteInput);
    border: 2px solid var(--whiteInput);
}

.divForm > input::placeholder, .divForm > textarea::placeholder {
    color: var(--placeHolder);
}

.divForm > input[type=submit] {
    margin: 15px;
    padding: 2px 0px 2px 0px;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: #F6FbFD;
    border-radius: 4px;
    box-sizing: content-box;
}

.divForm > input[type=email]:focus, .divForm > input[type=text]:focus, .divForm > input[type=password]:focus,
.divForm > input[type=date]:focus, .divForm > textarea:focus, .divForm > select:focus {
    border: 2px solid var(--blue);
    border-radius: 4px;
    background-color: #fff;
}

.divForm > input[type=submit]:hover {
    cursor: pointer;
}

.divForm > textarea {
    resize: none;
    height: 4em;
    width: 30%;
}

.divForm > input[type=radio] {
    height: 14px;
    width: 14px;
}

.divForm > label {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divForm > label > input, label > p {
    margin: 10px;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: #ACACB0;
    margin: 10px;
    padding: 2px 8px 2px 8px;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: #F6FbFD;
    border-radius: 4px;
    width: initial;
    box-sizing: content-box;
}

.link:focus {
    outline: none;
}

.error {
    margin: 10px;
    color: red;
    font-size: 1.5em;
}

.login {
    min-width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 0px 25px #ddd;
}

.divForm {
    padding: 50px 0 50px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.divLink {
    width: 80%;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.radioContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
