#root {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 1em;
    margin: 5px;
    outline: none;
    width: 60%;
    border-radius: 30px;
    height: 1.5em;
    border: 1px solid #333;
    text-align: center;
    color: #fff;
}

input::placeholder {
    color: #333;
}

input[type=submit] {
    color: #fff;
    width: 40%;
}

input:focus {
    border: 1px solid #aaa;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

a:hover {
    color: #FFF;
}

.login {
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #786BFF;
    border-radius: 15px;
}

.error {
    color: red;
    font-size: 1.5em;
}