#root {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 1em;
    margin: 5px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #333;
    text-align: center;
}

input[type=submit] {
    background: var(--grey);
}

input:focus {
    border: 1px solid #aaa;
}

.link:hover {
    cursor: pointer;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
    font-size: 1.5em;
}