#profileForm {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#profileForm > input, #profileForm > textarea, #profileForm > select {
    font-size: 1em;
    margin: 6px;
    outline: none;
    width: 20%;
    border-radius: 6px;
    height: 1.8em;
    border: none;
    text-align: center;
    color: var(--textInputForm);
    background-color: var(--whiteInput);
    border: 2px solid var(--whiteInput);
}

#profileForm > input::placeholder, #profileForm > textarea::placeholder {
    color: var(--placeHolder);
}

#profileForm > input[type=submit] {
    margin: 15px;
    padding: 2px 0px 2px 0px;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: #F6FbFD;
    border-radius: 4px;
    box-sizing: content-box;
}

#profileForm > input[type=email]:focus, #profileForm > input[type=text]:focus, #profileForm > input[type=password]:focus,
#profileForm > input[type=date]:focus, #profileForm > textarea:focus, #profileForm > select:focus {
    border: 2px solid var(--blue);
    border-radius: 4px;
    background-color: #fff;
}

#profileForm > input[type=submit]:hover {
    cursor: pointer;
}

#profileForm > textarea {
    resize: none;
    height: 4em;
    width: 30%;
}

#profileForm > input[type=radio] {
    height: 14px;
    width: 14px;
}

#profileForm > label {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profileForm > label > input, label > p {
    margin: 10px;
}

.dropzone {
    margin: 5px;
    width: 75px;
    height: 75px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 50%;
}

.dropzoneView {
    display: flex;
    flex-flow: row wrap;
}

.pictureView {
    width: auto;
    height: 100%;
}
