:root {
  --blue: #3C9AFB;
  --whiteInput: #F0F0F0;
  --placeHolder: #B7B7BA;
  --textInputForm: #b6b6ba;
  --textColor: #76767a;
  --backgroundColor: #F6F7FB;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', monospace;
  font-size: 1em;
}

#root {
  overflow-x: auto;
}

input {
  font-family: 'Lato', monospace;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

.router {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
  width: 100%;
  background-color: var(--backgroundColor);
  z-index: 0;
  overflow-x: auto;
}

.error {
    margin: 10px;
    color: red;
    font-size: 1.5em;
}

.status {
    margin: 10px;
    color: green;
    font-size: 1.5em;
}
