:root {
  --blue: #3C9AFB;
  --whiteInput: #F0F0F0;
  --placeHolder: #B7B7BA;
  --textInput: #b6b6ba;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', monospace;
  font-size: 1em;
}

input {
  font-family: 'Lato', monospace;
}

a {
  text-decoration: none;
  color: var(--textInput);
}

.router {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.body {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  width: 100%;
}
