html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
table {
	width: 70vw;
	height: 80vh;
}
td {
	border: 2px solid black;
}
.invisible {
	border: none;
}
.num {
	text-align: left;
	font-size: 1.3vmin;
}
.name {
	font-size: 3vmin;
}
.width {
	text-align: right;
	font-size: 1.3vmin;
}
